/* main text color: #757575;*/
/* secondary text color: #212121;  */
/* белый #FFFFFF */
/* акцент синий #2196F3 */
/* первичный цвет фона #E5E5E5; */
/* вторичный цвет фона #2F303A; */
/* цвет фона наша команда #F5F4FA */

:root{
--primary-text-color: #757575;
--secondary-text-color: #212121;
--accent-color: #2196F3;
--accent-second-color: #FFFFFF;
--primary-background-color: #FFFFFF;
--secondary-background-color: #2F303A;
--stuff-background-color: #F5F4FA;
}

h1,h2,h3,h4{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.menu-link.current{
    color: var(--accent-color);
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* HEADER */
.main-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-header-container{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
}
.contact-list{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.mail-link{
    margin-right: 52px;
}
.logo{
    margin-right: 93px;
}
.menu-item:not(:last-child){
margin-right: 52px;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
}
.first-part-logo{
    color: var(--accent-color)
}
.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contact-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 0.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color)
    }

.link:hover {
    color: var(--accent-color)
}
.link:focus {
    color: var(--accent-color)
}
/* /HEADER */
/* MAIN */
.hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 280px;
    background:var(--secondary-background-color)
}

.main-title {
    display: flex;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--accent-second-color)
}

.order-button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--accent-second-color);
}
.hidden-title{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.adv-item{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-text-color);

}
.adv-describe{
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--primary-text-color)
}
.title{
    margin-bottom: 50px;
}

.list-advant{
    display: flex;
    
}
.advantage-list{
    flex-basis: calc(100%-90px/4);
}
.list-work{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.our-work-title{
    display: flex;
    justify-content: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
}
.team{
    background-color:var(--stuff-background-color)
}
.team-employees-list{
    background-color: var(--accent-second-color);  
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.team-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--secondary-text-color);
}
.img-team-employees{
    flex-basis: calc(100%-60px/3);
}
.team-card-content-wraped{
    padding-top: 30px;
    text-align: center;
}
.team-names-employees{
    margin-bottom: 10px;
}
.team-names-employees{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
}
.team-profession{
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-text-color)
}
/* /MAIN */
/* FOOTER */
.main-footer{
    background:var(--secondary-background-color);
}
.footer-logo{
    color:var(--accent-second-color);
}
.address-link{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71px;
        letter-spacing: 0.03em;
        color:var(--accent-second-color)
}
.footer-cotact{
    font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.14;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.6);

}

/* /FOOTER */
/* PORTFOLIO MAIN */
.btn-link-portfolio{
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0px;
    color: var(--secondary-text-color);
    
}
.btn-list{
    display: flex;
    padding: 6px 22px 6px 22px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    
}
.btn-link-portfolio:hover,
.btn-link-portfolio:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,86;    
    text-align: center;
    letter-spacing: 0.03em;
background-color: var(--accent-color);
color: var(--accent-second-color);    

}
.proj-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}
.proj-desc{
line-height: 2;
letter-spacing: 0.03em;
}
/* PORTFOLIO MAIN */





